<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class = "imagen">
    <img src="https://thumbsnap.com/i/CY5r6qMM.png">
</div>
<header>
    <h4 align = "center">verificación del Correo Electrónico</h2>
</header>

<section>
    <div class = "Datos">
        <h5>Hola {{name}}, verifica tu correo electrónico.</h3>
        <div class = "boton">
            <a href="{{url}}" target="_blank">Haz clic aquí para verificarte</a>
        </div>
        <h7>(Esta verificación es válida por una hora.)</h3>
    
        
    </div>
</section>
    





<style>

    .imagen {
        border-radius: 3px;
        width: 40%;
        background-color: rgb(194, 187, 230);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        
    }

    img {
        padding: 10px;
        display: block;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    section {
        text-align: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto; 
        width: 25%; 
    }

    .boton {
        padding-top: 5px;
        text-align: center;
        padding-bottom: 10px;
    }
</style>
